*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100%;
}
.logo{
    width: 100%;
    height: 90px;
}
.logo img{
    width: 20%;
    height: 80px;
    float: left;
}
.logo form{
    width: 80%;
    height: 80px;
}
.logo form input{
    margin: 20px 80px;
    height: 40px;
    width: 400px;
    float: left; 
} 
.logo .fa-magnifying-glass{
    float: left;
    font-size: 43px;
    background-color: black;
    color: white;
     margin: 20px -80px;
}
.logo select{
    float: left;
    margin: -40px 150px;
}
.logo .fa-heart{
    font-size: 20px;
    float: left;
    margin: -40px 240px;
}
.logo .fa-user{
    float: right;
    margin-top: -40px;
    margin-right: 160px;
    font-weight: lighter;
}
.logo p{
    float: right;
    margin-top: -45px;
    margin-right: 30px;
    font-size: 20px;
}
.menu{
    width: 100%;
    height: 50px;
    float: left;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    float: left;
    margin: 0px 20px;
    font-size: 16px;
    position: relative;
    background-color: white;
    width: 120px;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    transition: 0.5s;
}
.menu ul li a:hover{
    color: orange;
}
.menu ul ul{
    display: none;
    position: absolute;
    text-transform: capitalize;
}
.menu ul li:hover>ul{
    display: block;
}
.menu select{
 float: left;
 margin: 5px 150px;   
}
.container{
    height: 750px;
    width: 1345px;
    float: left;
    background-image: url(images/bmw.jpg);
    background-position: center;
    background-size: cover;
}
.container .load{
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 40px 40px;
}
.container .load h3{
    text-align: center;
    font-size: 20px;
}
.container .new{
    height: 35px;
    width: 110px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.container .new:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.container .used{
    height: 35px;
    width: 110px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.container .used:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.container .budget{
    margin-left: 20px;
    cursor: pointer;
}
.container .brand{
    margin-left: 10px;
    cursor: pointer;
}
.container .first{
    margin-left: 20px;
    height: 35px;
    width: 250px;
}
.container .second{
    margin-left: 20px;
    height: 35px;
    width: 250px;
}
.container .search{
    margin-left: 20px;
    height: 35px;
    width: 250px;
    font-size: 20px;
    border-radius: 20px;
}
.container .search:hover{
    background-color: orange;
    cursor: pointer;
}
.container .side h3{
    float: right;
    background-color: red;
    margin-top: -290px;
    margin-right: 120px;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
}
.container .side h4{
    float: right;
    color: white;
    margin-top: -190px;
    margin-right: 120px;
    font-size: 30px;
    text-transform: capitalize;
}
.container .side #dis{
    float: right;
    margin-top: -150px;
    margin-right: 90px;
    outline: 2px solid green;
    outline-style: double;
    width: 400px;
    border-collapse: collapse;
}
.container .side #dis thead{
    font-size: 22px;
    color: white;
    background-color: red;
    text-transform: uppercase;
}
.container .side #dis tbody{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    background-color: white;
    font-weight: bold;
}
.container .side #book{
    float: right;
    width: 200px;
    height: 40px;
    margin-right: 160px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}
.container .side #book:hover{
    background-color: black;
    color: red;
    cursor: pointer;
}
.gallery{
    width: 100%;
}
.gallery .harrier{
    float: left;
    width: 95%;
    margin: 20px 60px;
    border-collapse: collapse;
}
.gallery .harrier td{
    height: 40px;
    width: 300px;
    padding-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.gallery .harrier h2{
    text-transform: uppercase;
    margin-left: -520px;
    padding-top: 20px;
}
.gallery .harrier h4{
    text-transform: capitalize;
    text-align: justify;
    padding-left: 15px;
    padding-top: 5px;
}
.gallery .harrier img{
    float: right;
}
.gallery .harrier button{
     width: 150px;
     height: 40px;
     margin-top: 280px;
     margin-left: -120px;
     text-transform: uppercase;
     font-size: 15px;
     border-radius: 20px;
}
.gallery .harrier button:hover{
    background-color: black;
    color: orange;
    cursor: pointer;
}
.car{
    width: 1340px;
    float: left;
}
.car h2{
    text-transform: capitalize;
    margin: 10px 30px;
}
.car ul{
    list-style: none;
}
.car ul li{
    float: left;
    margin: 5px 30px;
}
.car ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: bold;
}
.car ul li a:hover{
    color: rgb(248, 163, 5);
    cursor: pointer;
    text-decoration: underline;
    background-color: brown;
}
.buy{
    width: 1340px;
    height: auto;
    float: left;
}
.buy table{
    border-collapse: collapse;
    margin-left: 10px;
}
.buy td{
    width: 1340px;
    margin-left: 20px;
}
.buy img{
    width: 265px;
}
.buy h4{
    margin: 5px 30px;
    text-transform: capitalize;
    font-size: 20px;
}
.buy p{
    margin: 5px 30px;
    text-transform: capitalize;
    font-size: 18px;
}
.buy button{
    margin: 5px 30px;
    text-transform: capitalize;
    font-size: 18px;
    width: 250px;   
    border-radius: 20px;
    border-color: orange;
}
.buy button:hover{
    background-color: yellowgreen;
    color: red;
    cursor: pointer;
}
.new{
    width: 1340px;
    float: left;
    height: auto;
}
.new h2{
    text-transform: capitalize;
    margin: 30px 30px;
}
.new table{
    border-collapse: collapse;
    margin-left: 10px;
    margin-top: 20px;
}
.new img{
    width: 331px;
    height: 200px;
}
.new h4{
    margin: 5px 30px;
    text-transform: capitalize;
    font-size: 20px;
}
.new p{
    margin: 5px 30px;
    text-transform: capitalize;
    font-size: 18px;
}
.new button{
    margin: 5px 30px;
    text-transform: capitalize;
    font-size: 18px;
    width: 250px;   
    border-radius: 20px;
    border-color: orange;
}
.new button:hover{
    background-color: teal;
    color: red;
    cursor: pointer;
}
.footer{
    width: 100%;
    float: left;
}
.footer h2{
    margin: 20px 30px;
    text-transform: uppercase;
}
.fa-facebook{
    font-size: 50px;
    margin: 0px 30px;
    color: blue;
}
.fa-instagram{
    font-size: 50px;
color: white;
    background-color: red;
}
.fa-twitter{
    font-size: 50px;
    color: rgb(11, 176, 240);
    margin: 0 30px;
    background-color: black;
}
.fa-whatsapp{
    font-size: 50px;
    color: white;
    background-color: green;
    width: 60px;
    text-align: center;
}

